.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

//creativamind css

.sidebar-sticky {
  padding: 0 !important;
}

img.avatar {
  width: 256px !important;
  height: auto !important;
}

.avatar {
  border-radius: 0 !important
}

// h2.h1 {
//   font-size: 16px;
//   font-family: Verdana, sans-serif;
//   font-weight:100;
//   padding-bottom: 50px !important;
// }

.navbar>.content::before {
  box-shadow: none;
}

// main#_main {
//   margin-top: -25px;
// }

// div.sidebar-about p {
//   text-align: right;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   font-size: 12px;
//   margin-top: -40px;
//   margin-bottom: 50px;
// }

.sidebar-about>a.sidebar-title::after {
  display: none;
}




// .sidebar-title h2.h1 {
//   font-size: 16px;
//   font-family: Verdana;
//   font-weight: 400;
//   text-align: right;
// }